[Unit]
Description=mymacchanger.py

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/mymacchanger.py
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
