[Unit]
Description=Telegram Bot Service2
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/Bots/walletcheck.py
[Install]
WantedBy=multi-user.target
